# 编译输出
windows_ivw_cnenesr_xtts/
include/
libs/
x64/
*.obj
*.pdb
*.dll
*.lib
*.exp

# 临时文件和日志
files/
*.log
*.tmp

# 资源文件
resource/

# Visual Studio 临时文件
*.user
*.suo
*.sln.docstates

# 其他
.DS_Store
Thumbs.db

## Visual Studio 2019/2022
.vs/

## Rider
.idea/

## ASP.NET Scaffolding
ScaffoldingReadMe.txt

## Package management
packages/
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/

## VS Code settings
.vscode/

## Build results
bin/
obj/
[Bb]uild/
[Ll]og/
[Ll]ogs/
